<div class="flex flex-col items-stretch w-1/2 gap-1 py-2">
  <label>
    Hero name:
    <input #heroName class="border border-gray-400 rounded" />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''" class="btn">
    add
  </button>
</div>
<ul class="flex flex-col gap-2 my-2">
  <li
    *ngFor="let hero of heroes"
    class="flex transform bg-gray-200 rounded hover:translate-y-1 hover:translate-x-1"
  >
    <a
      routerLink="/detail/{{ hero.id }}"
      class="flex items-stretch flex-grow gap-1"
    >
      <div class="px-2 py-1 text-white bg-gray-500 rounded-tl rounded-bl">
        {{ hero.id }}
      </div>
      <div class="flex place-items-center">
        {{ hero.name }}
      </div>
    </a>
    <button
      class="px-2 font-sans text-white bg-gray-700 rounded-tr rounded-br"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>
